body {
    background-color: #dfe0e1;
    font-family: 'Sriracha', cursive;;
    /* font-family: 'Prompt', sans-serif; */
}

.container{
   margin:0 10%; 
   background-color: rgb(255, 255, 255);
   text-align:center;
   box-sizing: border-box;
   top: 0px;
}

.cover>img{
    width: 98%;
    object-fit: cover;
}

.about-me{
    font-size:50px;
    margin: 50px 0;
}

ul{
    margin: 0 50px;
    text-align: left;
}

.checkmark{
    color:#008000a6;
}

.quality-text{
    color: rgb(255 199 97);
    text-shadow: 2px 2px 3px black ;
}

.fix-tab{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:rgb(255 199 97);
    box-shadow: 0 -2px 10px #ababab ;
    box-sizing: border-box;
    color: black;
    padding: 5px;
    text-align: center;
    font-size:20px;
    z-index:10;
}

a:link {
    text-decoration: none;
 }


a:visited {
    color: black;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
}
a:hover{
    color: rgb(96, 16, 137);
    text-shadow: 0.2px 0.2px 2px rgb(89, 88, 88) ;
}

.display-slide-container{
    text-align: center;
    width: 580px;
    margin:auto;
    position: relative; 
}

.display-container{
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.display-container>img{
    width:270px;
    border-radius: 10px;
    margin: 10px;
}
.mySlides{
    box-sizing: border-box;
    height: 580px;
}

.mySlides>img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.button{
    position: absolute;
    top:50%;
    color: #fff!important;
    background-color: #000!important;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 0px;
    

}

.button:hover{
    color: rgb(0, 0, 0)!important;
    background-color: rgb(91, 89, 89)!important;
    cursor: pointer;
}

.display-left{
    left:0; 
    border-radius: 0 5px 5px 0 ;
}
.display-right{
    right:0; 
    border-radius:  5px 0 0 5px  ;

}

@media only screen and (max-width: 768px) {
    .about-me,.fix-tab{
        font-size: 16px;
    }

    ul{
        margin: 0 0;
        padding:0 12px;
    }

    .display-slide-container{
        width: 280px;
    }
   
    .mySlides{
        height: 280px;
    }
    
    .button{
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .display-container{
        margin-top: 10px;
    }

    .display-container>img{
        width:90px;
        border-radius: 5px;
        margin: 3px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .about-me, .fix-tab{
        font-size: 12px;
    }
    
    ul{
        margin: 0 0;
        padding:0 12px;
    }

    .display-slide-container{
        width: 200px;
    }
   
    .mySlides{
        height: 200px;
    }
    
    .button{
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .display-container{
        margin-top: 10px;
    }

    .display-container>img{
        width:60px;
        border-radius: 3px;
        margin: 2px;
    }
  }